@* @page "/usermgmt/create"

@using WebUI.Pages.Shared
@inject WebUI.Data.WebUIContext DB
@inject NavigationManager NavigationManager

<h3>Create User</h3>
<hr />

<div class="row">
    <div class="col-md-4">
     <UserDetailsEdit @User=User></UserDetailsEdit>
    </div>

</div>

<div>
    <a href="/usermgmt">Back to List</a>
</div>


@code {

    [SupplyParameterFromForm]
    public Person User { get; set; } = new();

    protected override void OnInitialized()
    {
        //Authenticationprinciapprovbider // get logged in princicpal
        //get User obj from Usermenanager
        //User == result from above

        User.DateOfBirth = DateTime.Now.Date;

    }

    public async Task AddUser()
    {
        // DB.UsersIdentity.AddAsync(User);
        // await DB.SaveChangesAsync();
        // NavigationManager.NavigateTo("/usermgmt");
    }

 *@}
