@page "/usermgmt/detailsV2"
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using WebUI.Areas.Identity.Data
@using P7_UrbanRead
@inject WebUI.Data.WebUIContext DBContext
@inject NavigationManager NavigationManager



<PageTitle>Details</PageTitle>

<h3>ID: @Id</h3>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@usermgmt._Person.FirstName @usermgmt._Person.LastName</dd>
    </dl>

    <div>
        <a href="@($"/usermgmt")">Back to Users List</a>
    </div>
</div>


@code {
    WebUIUser usermgmt;

    //private readonly UserManager<IdentityUser> _userManager;

    [SupplyParameterFromQuery]
    public string Id  { get; set; }


    protected override async Task OnInitializedAsync()
    {

        var tmp =  DBContext.Users.Include(p => p._Person);

        var tmp2 = tmp.FirstOrDefaultAsync(u => u.Id == Id);

        var tmp3 = tmp2.Result;

        usermgmt = tmp3;

        //usermgmt = DBContext.Users.Include(p => p._Person).FirstOrDefault(user => user.Id == Id);

     
        //var user = _userManager.GetUserAsync(Id).Result;

        if (usermgmt is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

}
