* {
    font-family: sans-serif;
    color: navy;
}

.btn {
    color: white;
}

.btn-save{
    background-color: forestgreen;
    border: forestgreen;
}

.btn-delete{
    background-color: red; 
    border: red;
}

.form-section {
    display: grid;
    grid-template-columns: 1fr 1fr;  
    grid-gap: 10px;
}
