@page "/usermgmt/edit"

@using WebUI.Data
@using P7_UrbanRead

<h3>Edit User Info</h3>

<div id="user-edit-form">
    <EditForm Model="@user" OnValidSubmit="UpdateUser" FormName="edit" Enhanced>
        <DataAnnotationsValidator />


    </EditForm>
</div>

@code {
    Person user = new Person();

    public async Task UpdateUser()
    {
        
    }
}
