* {
    font-family: sans-serif;
    color: navy;
}

.btn, a{
    color: white;
    background-color: navy;
}

.btn-save{
    background-color: forestgreen;
    border: forestgreen;
}

.btn-delete{
    background-color: red; 
    border: red;
}

.form-section {
    display: grid;
    gap: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;

}

.personal-info, .address-info {
    grid-template-columns: 1fr 1fr 1fr;   
}

.address-info {
    padding-bottom: 10px;
    border-bottom: 0.5px solid navy;
}

.contact-info {
    grid-template-columns: 1.5fr 1.5fr;
}


h5 {
    padding-top: 7px;
    padding-left: 7px;
    border-left: 6px solid navy;
    border-bottom: 0.5px solid navy;
    border-bottom-left-radius: 4px;
}
