@page "/usermgmt"
@* admins page *@

@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using WebUI.Areas.Identity.Data
@using P7_UrbanRead
@inject WebUI.Data.WebUIContext DBContext


<h3>List of Users</h3>

<QuickGrid Class="table" Items="DBContext.Users.Include(u => u._Person)">
    <PropertyColumn Property="_usermgmt => _usermgmt._Person.Id" IsDefaultSortColumn="true" InitialSortDirection="SortDirection.Ascending" />
    <PropertyColumn Property="_usermgmt => _usermgmt._Person.FirstName" />
    <PropertyColumn Property="_usermgmt => _usermgmt._Person.LastName" />
    <PropertyColumn Property="_usermgmt => _usermgmt.UserName" />

    <TemplateColumn Context="_usermgmt">
        <a href="@($"/usermgmt/details?id={_usermgmt.Id}")">Details</a>
    </TemplateColumn>
</QuickGrid> 



@code {

}