@page "/usermgmt"
@* admins page *@

@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using WebUI.Areas.Identity.Data
@using P7_UrbanRead
@inject WebUI.Data.WebUIContext DBContext


<AuthorizeView Roles="Admin, Member">
    <Authorized>
        <PageTitle>List of Users</PageTitle>

        <div class="grid">
            <QuickGrid Class="table" Items="DBContext.Users.Include(u => u._Person)">
                <PropertyColumn Property="_usermgmt => _usermgmt._Person.Id" Title="ID" IsDefaultSortColumn="true" InitialSortDirection="SortDirection.Ascending" />
                <PropertyColumn Property="_usermgmt => _usermgmt._Person.FirstName" Title="First Name" />
                <PropertyColumn Property="_usermgmt => _usermgmt._Person.LastName" Title="Last Name" />
                <PropertyColumn Property="_usermgmt => _usermgmt.UserName" Title="Username" />

                <TemplateColumn Context="_usermgmt" Title="Action">
                    <a href="@($"/usermgmt/details?id={_usermgmt.Id}")">Details</a>
                </TemplateColumn>
            </QuickGrid> 
        </div>
    </Authorized>
    <NotAuthorized>
        <p>Access denied!</p>
        <p>Admin permission required.</p>
    </NotAuthorized>
</AuthorizeView>


@code {

}