@page "/BookDetails"
@page "/BookDetails/id:{_isbn:long}"

@using WebUI.Data
@using P7_UrbanRead
@inject MainDataService GetBookDetails

<div>
    @foreach(var _bookElement in _book)
    {
        <h3>@_bookElement.Title</h3>

        <img class="cover" src="@_bookElement.CoverImgLink" alt="Cover" />
 
        
        foreach( var sample in _bookElement.BookSampleLinks)
        {
            <p>
                <a href="@sample" target="_blank"> Read Sample </a>
            </p>
        }

    }

</div>


@code {
    [Parameter] public long _isbn { get; set; }

    List<Book> _book = new List<Book>();


    protected override void OnInitialized()
    {
        _book = MainDataService.GetBookDetails(_isbn);
    }
    

}
    