@page "/BookWishList"
@page "/BookWishList/isbn:{_Isbn:long}"

@using WebUI.Data
@using P7_UrbanRead
@using System.Security.Claims
@inject MainDataService GetBookDetails

<h3>BookWishList</h3>
<AuthorizeView>
    <Authorized>
        Hey there @context.User.Identity.Name
    </Authorized>
    <NotAuthorized>
        Please log in 
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public long _Isbn { get; set; }

}