* {
    font-family: sans-serif;
    color: navy;
    margin-left: 1rem;
    margin-right: 1.5rem;
}

h2 {
    font-family: Georgia, serif;
    text-align: center;
    background: #00006a;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
}

dl{
    float: left;
    width:42%;
    display: grid;
    grid-template-columns: max-content auto;
}
dt {
    grid-column-start: 1;
    margin-bottom: 15px;
}
dd {
    grid-column-start: 2;
    margin-inline-start: 7px;
}

.read_sample {
    float: right;
}

