@page "/fetchbooks"

@using WebUI.Data
@inject MainDataService SearchBook

<PageTitle>Urban Library Search</PageTitle>

<h1>Urban Library</h1>

<p>@searchResult</p>

<form id="ULsearch">
     <input type="search" id="query" name="q" placeholder="Book...">
     <button class="btn btn-primary" onclick="">Search</button>
</form>


@code {

    private List<string> searchResult;

    private List<string> FetchBook()
    {
        searchResult = MainDataService.SearchBook();


    }
    
}
