@page "/fetchbooks"

<PageTitle>Urban Library</PageTitle>

@using WebUI.Data
@inject MainDataService SearchBook

<h1>Book Search</h1>
<form id="ULsearch">
     <input type="text" id="query" name="q" placeholder="">
     <button>Search</button>
</form>


@code {

}
