@page "/fetchbooks"

<PageTitle>Urban Library Search</PageTitle>

@using WebUI.Data
@inject MainDataService SearchBook

<h1>Urban Library</h1>
<form id="ULsearch">
     <input type="search" id="query" name="q" placeholder="">
     <button>Search</button>
</form>


@code {

}
