
/* Page and Headers Styling */
* {
    font-family: sans-serif;
    color: navy;
}

h1 {
    font-family: Georgia, serif;
    font-size: 60px;
    text-align: center;
    text-shadow: 1px 2px lightgray;
    padding-bottom: 20px;
}

/* Search Styling */
#search_txt {
    text-align: center;
    padding-bottom: 7px;

}

button {
    background-color: navy;
    color: white;
}

#categories, #filters {
    text-align: center;
    padding: 4px 11px;
    
}

.form-check-label{
    font-size: small;

}

#filters{
    padding-bottom: 50px;

}


/* Results Styling */
::deep .quickgrid[theme=corporate] {
    

}


::deep .quickgrid[theme=corporate] tbody tr td {
    table-layout: fixed;
    width: 10.5%;
    vertical-align: central;
    padding: 5px 7px 5px 7px;
 }

::deep .quickgrid[theme=corporate] thead th {
    background-color: navy;
    color: white;
    font-size: 18px;
    font-weight: normal;
}

::deep tr:nth-child(odd) {
    background: #f1f9fd;
}

::deep tr:nth-child(even) {
    background: #cfebf9;
}


::deep .quickgrid[theme=corporate] .description {
    width: 100%;
    padding-right: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
}

/*
    ::deep .quickgrid[theme=corporate] .description:hover {
     -webkit-line-clamp: 6;
    }
*/