* {
    font-family: 'Comic Sans MS';
    color: navy;
}


h1{
    text-align: center;
    text-shadow:1px 2px lightgray;
    padding-bottom: 10px;

}

#search_txt{
    text-align: center;
    padding-bottom: 5px;
}

#categories, #filters {
    text-align: center;
    padding: 3px;
}

.form-check-label{
    font-size: small;
}

button {
    background-color: navy;
    color: white;
}

.description:hover {
    width: 400px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
