@page "/usermgmt_index"

@using WebUI.Data
@using P7_UrbanRead
@using Microsoft.AspNetCore.Components.QuickGrid
@inject IJSRuntime JS
@inject WebUI.Data.WebUIContext DB

<h3>List of Users</h3>

<QuickGrid Class="table" Items="DB._WebUIUser">
    <PropertyColumn Property="_WebUIUser => _WebUIUser.Id" />
    <PropertyColumn Property="_WebUIUser => _WebUIUser.Email" />
    <PropertyColumn Property="_WebUIUser => _WebUIUser.UserName" />
    <PropertyColumn Property="_WebUIUser => _WebUIUser._Person" />
</QuickGrid>

@code {

}